:root {
  --bg: #1d2825;         /* Very dark forest green */
  --primary: #1f3e35;     /* Deep blue-mint green */
  --secondary: #2a4b42;   /* Darker bluey mint green */
  --tertiary: #3e6355;    /* Cool, deep mint with blue undertones */

  --header: #d6d4d2;      /* Soft, blue-tinted misty green */
  --text: #869895;        /* Dark muted bluey mint */
  --link: #6cb259;        /* Cool, fresh mint green with blue hues */
  --note: #5e7571;        /* Deep moss with blueish tint */

/*  --bg: #1e1f22;
    --primary: #2b2d31;
    --secondary: #313338;
    --tertiary: ;

    --header: #dbded7;
    --text: #b9bcb5;
    --link: #5b852f;
    --note: #81848c;*/
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin !important;
  scrollbar-color: var(--note) var(--bg) !important;
}

body {
  background-color: var(--bg);
  font-family: Roboto; }

  b {
    color: var(--header);
  }

a {
  color: var(--link);
}

h1, h2, h3, h4 {
  color: var(--header);
}

h2, h3, h4, h5 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

code, .multi-code {
  background-color: #2b2d31;
  color: var(--header);
  border: 1px solid rgba(0, 0, 0 , .2);
  border-radius: 3px;
  padding: 0 5px;
  font-family: consolas;
}

code {
  font-size: 10pt;
}

.multi-code {
  padding: 10px;
}

.site-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, .5);
  border-right: 1px solid rgba(0, 0, 0, .5);
}

#content-wrapper {
  overflow: auto;
}

#content {
  float: none;
  padding: 50px 70px;
  min-width: 300px;
}

.default-text-wrapper {
  background-color: var(--primary);
  white-space: pre-line;
  color: var(--text);
  font-size: 11pt;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  border-left: var(--bg) 5px solid;
}

.default-text-wrapper img {
  display: block;
  margin: auto;
}

.sidebar-wrapper {
 background-color: var(--primary);
}

#sidebar {
  color: var(--header);
  flex-basis: 200px;
  width: 200px;
  flex-shrink: 0;
  margin: 30px 40px;
  height: 100vh;
}

#sidebar-banner {
  height: 200px;
  width: 100%;
  background-image: url("images/moss.jpg");
  background-size: 250%;
  background-position: 60% 65%;
}

#sidebar .title {
  padding-bottom: 20px;
}

.sidebar-about {
  font-size: 11pt;
}

.sidebar-nav {
  margin: 30px 0;
}

.sidebar-nav li {
  list-style-type: none;
  margin: 10px 0;
  font-size: 12pt;
}

#sidebar-footer {
  position: fixed;
  bottom: 0;
  width: 210px;
  margin-left: -5px;
}

#sidebar-footer .note {
  color: var(--text);
  text-align: center;
  font-size: 9pt;
  margin-top: -15px;
  margin-bottom: 30px;
}

.discord-block {
  background-color: #282b30;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin: 30px 0;
}

.discord-block img {
  float: left;
  width: 40px;
  border-radius: 13px;
}

.discord-text-wrapper {
  float: left;
  margin-left: 8px;
}

.discord-text-wrapper .server-title a {
  text-decoration: none;
}

.discord-text-wrapper .server-title a:hover {
  text-decoration: underline;
}

.discord-text-wrapper .server-title {
  font-size: 11pt;
  font-weight: bold;
}

.channel {
  color: #949ba4; }

.channel span {
  font-size: 9pt;
}

.discord-block a {
  color: white;
}

.join-button:hover {
  background-color: #1a6334;
  transition: 0.3s ease;
}

.join-button {
  float: right;
  background-color: #248045;
  border-radius: 3px;
  font-size: 9pt;
  font-weight: 600;
  padding: 13px 10px;
}

.channel-link {
  background-color: #3c4270;
  color: #c9cdfb;
  padding: 3px 6px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}

.channel-link:hover, .channel-link2:hover {
  background-color: #5865f2;
  transition: 0.2s ease;
}

.channel-link2 {
  background-color: #3c4270;
  color: #c9cdfb;
  padding: 0 6px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

.default-text-wrapper ul, .default-text-wrapper ol {
  margin-left: 10px;
  white-space: normal;
}

.default-text-wrapper li {
  padding: 3px 0;
}

ol li::marker {
    font-weight: bold;
    color: var(--header);
}
